.loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nav {
  color: #f9ebe0;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0;
  font-size: 12px;
  span {
    align-self: center;
  }

  button {
    cursor: pointer;
  }
}

.accent {
  color: #fe5e41;
}

.username {
  font-size: 16px;
  background: #19647e;
  font-weight: 500;
  padding: 0 4px;
  border: none;
  color: #f9ebe0;
}

.navDropdown {
  position: absolute;
  right: 20px;
  top: 50px;

  button {
    background: #fe5e41;
    border: 0;
    color: #f9ebe0;
  }
}

.body {
  max-width: 1200px;
  margin: 80px auto 0;
  border-radius: 10px;
  overflow: hidden;
  min-height: 600px;
  background-color: #0a0a0a;
  box-shadow: 0 0 60px 0 black;
}

.content {
  padding: 10px;
  display: flex;
  position: relative;;

  .switch {
    position: absolute;
    width: 90%;
    right: 20px;
    top: 20px;
  }
}
