.loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nav {
  color: #f9ebe0;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0;
  font-size: 12px;
  span {
    align-self: center;
  }
}

.accent {
  color: #fe5e41;
}

.username {
  font-size: 16px;
  background: #19647e;
  font-weight: 500;
  padding: 0 4px;
}
