.nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  button {
    background: #f9ebe0;
    color: #080708;
    border: none;
    padding: 2px 5px;
    font-weight: 400;
    cursor: pointer;
  }
}

.accent {
  color: #fe5e41;
  font-weight: 600;
}

.items {
  padding: 10px 10px 10px 20px;
}

.addForm {
  position: absolute;
  color: #f9ebe0;
  top: calc(100% + 10px);
  background: #1e1e1e;
  padding: 10px;
  border-radius: 5px;

  button {
    width: 100%;
    transition: all ease-in-out 0.2s;

    &:hover {
      background: #fe5e41;

      .btnAccent {
        background-color: #f9ebe0;
        color: #fe5e41;
      }
    }
  }
}

.btnAccent {
  background-color: #fe5e41;
  padding: 0 10px;
  color: #f9ebe0;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
}

.field {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  span {
    align-self: center;
    margin-right: 5px;
  }
  input {
    color: #080708;
    background: #f9ebe0;
    max-width: 150px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
  }
}

.noCharNotice {
  text-align: center;
  font-size: 13px;
  margin-top: 40px;
  span {
    background-color: #fb3640;
    padding: 0 5px;
    font-weight: 500;
    color: #f9ebe0;
  }
}
