.wrapper {
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  button {
    background: #f9ebe0;
    color: #080708;
    border: none;
    padding: 2px 5px;
    font-weight: 400;
    cursor: pointer;
  }
}

.accent {
  color: #fe5e41;
  font-weight: 600;
}

.items {
  padding-left: 10px;;
}


.item {
  font-size: 14px;
  color: #f9ebe0;
  font-weight: 300;
  margin-bottom: 3px;
}

.name {
  background: #f9ebe0;
  color: #080708;
  font-weight: 600;
  padding: 0 3px;
  margin-right: 3px;


  &.paladin {
    background-color: #F48CBA;
  }
  &.deathknight {
    background-color: #C41E3A;
  }
  &.demonhunter {
    background-color: #A330C9;
  }
  &.druid {
    background-color: #FF7C0A;
  }
  &.hunter {
    background-color: #AAD372;
  }
  &.mage {
    background-color: #3FC7EB;
  }
  &.monk {
    background-color: #00FF98;
  }
  &.priest {
    background-color: #FFFFFF;
  }
  &.rogue {
    background-color: #FFF468;
  }
  &.shaman {
    background-color: #0070DD;
  }
  &.warlock {
    background-color: #8788EE;
  }
  &.warrior {
    background-color: #C69B6D;
  }

}

.addForm {
  position: absolute;
  color: #f9ebe0;
  top: calc(100% + 10px);
  background: #1e1e1e;
  padding: 10px;
  border-radius: 5px;

  
  button {
    width: 100%;
    transition: all ease-in-out 0.2s;

    &:hover {
      background: #fe5e41;

      .btnAccent {
        background-color: #f9ebe0;
        color: #fe5e41;
      }
    }
  }
}

.btnAccent {
  background-color: #fe5e41;
  padding: 0 10px;
  color: #f9ebe0;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
}

.field {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  span {
    align-self: center;
    margin-right: 5px;
  }
  input {

    color: #080708;
    background: #f9ebe0;
    max-width: 150px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
  }

}