:root {
  --color--accent: #fe5e41;
  --color--textWhite: #f9ebe0;
  --color--main-black: #080708;
  --color--accent-secondary: #28afb0;

  --color--border-light: #1e1e1e;

  --color--error: #ff3a20;
  --color--warning: #f18805;
  --color--success: #72b01d;
}
