.menuWrapper {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }
  span {
    background: #555B6E;
    padding: 0 3px;
    font-size: 14px;
    color: #f9ebe0;
  }
}

.active {
  span {
    color: #f9ebe0;
    background: #28afb0;
  }
}
