.menuWrapper {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }
  span {
    background: #fe5e41;
    padding: 0 3px;
    font-size: 14px;
    color: #f9ebe0;
  }
}

.active {
  span {
    background: #28afb0;
  }
}
